{{!-- landing page/sign up page --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AWAKEN</title>
  <script src="https://kit.fontawesome.com/c29c44467e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
  <link href="http://fonts.cdnfonts.com/css/garet" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
 
</head>

<body>
  <header>
    <h1 class="uk-heading-line uk-heading-medium uk-text-center"><span class="title">AWAKEN</span></h1>
  </header>

 
  <nav>
     <a href="/">Home</a> |
    <!-- If the user is logged in, show a logout button -->
    {{#if logged_in}}
    <a href="/homepage">Homepage</a>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>