
<div class='container-dt uk-flex-small uk-flex-center uk-card-default'>
  <div class='datetime'>
    <div id='time'></div>
    <div id='date'></div>
  </div>
</div>

<div class="quote-cont">
  <center class="uk-card-default uk-flex-center quote-box">
    <h4 id='quote'></h4>
    <h5 id='author'></h5>
  </center>
</div>

<section class='cards'>
  <form class='activity-form'>
    <div class='uk-height-large'>

      <div class='uk-child-width-1-4@s uk-grid'>
        <div class="'uk-padding">
          <div
            class='uk-card uk-card-default uk-card-body uk-text-center uk-position-z-index uk-border-rounded uk-box-shadow-large'
            id='card'
            uk-sticky='start: 200; end: !.uk-height-large; offset: 80'
          >Did you drink water today?
          <i class="fa-solid fa-glass-water"></i></div>
          
          <div class='uk-margin'>
              
            <input
              class='uk-input uk-form-width-large'
              type='text'
              placeholder='How many ounces?'
              id="water-input"
            />
            
          </div>

        </div>
        <div>
          <div
            class='uk-card uk-card-default uk-card-body uk-text-center uk-position-z-index uk-border-rounded uk-box-shadow-large'
            id='card'
            uk-sticky='start: 100%; end: !.uk-height-large; offset: 80'
          >Did you sleep well?
          <i class="fa-solid fa-bed"></i>
       </div>
          <div class='uk-margin'>
            <input
              class='uk-input uk-form-width-large'
              type='text'
              placeholder='How many hours?'
              id="sleep-input"
            />
          </div>

        </div>
        <div>
          <div
            class='uk-card uk-card-default uk-card-body uk-text-center uk-position-z-index uk-border-rounded uk-box-shadow-large'
            id='card'
            uk-sticky='start: 20vh; end: !.uk-height-large; offset: 80'
          >How are you feeling?
         <i class="fa-regular fa-face-meh-blank"></i>
          </div>
          <div class='uk-margin'>
            <input
              class='uk-input uk-form-width-large'
              type='text'
              placeholder="What's your mood overall?"
              id="mood-input"
            />
          </div>
        </div>
        <div>
          <div
            class='uk-card uk-card-default uk-card-body uk-text-center uk-position-z-index uk-border-rounded uk-box-shadow-large'
            id='card'
            uk-sticky='start: !.uk-height-large; end: !.uk-height-large + div; offset: 80'
          >Were you active today?
          <i class="fa-solid fa-person-walking"></i></div>
          <div class='uk-margin'>
            <input
              class='uk-input uk-form-width-large'
              type='text'
              placeholder='What type of exercise did you do?'
              id="activity-input"
            />
          </div>
          

        </div>
          <div class=" uk-align-center">
              {{!-- <button type='submit' class='uk-button uk-button-default uk-width-1-1'>Awaken!</button> --}}
              <a class="uk-button uk-button-default uk-width-1-1" href="#modal-sections" uk-toggle>Awaken!</a>
              <div id="modal-sections" uk-modal>
    <div class="uk-modal-dialog">
        <button class="awaken-btn uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Here are your wellness details!</h2>
        </div>
        <div class="uk-modal-body">
             <ul class= "uk-list uk-list-divider" id='list_of_activities'>
</ul>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </div>
    </div>
</div>
            </div>
        
      </div>
      <div style='height: 200px'></div>

    </div>
  </form>
  </section>
  <div>

<script src='/js/activity.js'></script>
<script src='/js/profile.js'></script>

<script src='/js/quote.js'></script>
<script src='/js/dt.js'></script>