 <link rel="stylesheet" href="/css/landing.css">

<div class="hero-image">
  <div class="hero-text">

   <div class="slogan">Start your wellness journey today!</div> 

    <center> 
            <h3 id="quote"></h3>
            <h3 id="author"></h3>
        </center>
  </div>
</div>

    <script src="/js/quote.js"></script>

