<h1 class="uk-heading-line uk-text-center"><span>Start your wellness journey today!</span></h1>

<div id="bg-image">
    {{!-- <div class="uk-inline">
        <img src="/Assets/wellness.jpg" width="1800" height="1200" alt="">
        <div class="uk-overlay-default uk-position-cover"></div>
        <div class="uk-overlay uk-position-bottom uk-dark">
            <p>Start your wellness journey today!</p>
        </div> --}}

        
    </div>
   <div class="quote-box">
        <h2 id="quote">Quote...</h2>
        <h3 id="author">Author</h3>
    </div>
</div>
</div>


<script src="/js/quote.js"></script>
    </section>
</body>