@font-face {
  font-family: 'Garet';
  font-style: normal;
  font-weight: 300;
  src: local('Garet'), url('https://fonts.cdnfonts.com/s/57477/Garet-Book.woff') format('woff');
}
:root {
  --font-family: 'Garet', sans-serif;
  --navy: navy;
}

span {
  font-family: var(--font-family);
}

.landing-container {
  /* background-image: url(/public/images/cloudbg.jpeg); */
  height: 100vh;
}

.cards {
  background-color: transparent;
  font-family: var(--font-family);
}

.homepage-card {
  background-color: transparent;
}

.landing-qb {
  background-color: transparent;
}

body {
  background-image: url("/images/cloudbg.jpeg");
  height: 100vh;
}

/* LOGIN PAGE */
.uk-flex {
  column-gap: 50px;
  justify-content: center;
  height: 30vh;
}

#login-box {
width: 33vw;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.uk-form-controls-login {
  margin: 30px;
}

.email-label, .pass-label  {
  font-size: larger;
}

.email-input {
  width: 419px;
}

#signup-box {
width: 33vw;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.uk-form-controls {
  margin:14px;
  margin-left: 29px;
}

.name-signup-label, .email-signup-label, .pass-signup-label {
  font-size:larger;
}

.name-signup-input {
  width: 429px;
}

.email-signup-input {
  width: 430px;
}

.btn-signup-login, .awaken-btn {
  background-color: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  
}

.btn-signup-login:hover {
  background-color: grey;
  color: white;
  border: 2px solid #555555;
  transition-duration: 0.4s;
  cursor: pointer;
}


/* HOMEPAGE CSS */
.container-dt {
  width: 21vw;
  border-radius: 10px;
  margin-left: 33px;
  margin-top: 22px;
  font-family: var(--font-family);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-size: x-large;
}

#time {
  font-style: oblique;
  font-weight: bold;
  margin-left: 20px;
  color: var(--navy);
}

#date {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

.quote-box {
width: 50vw;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#quote {
  font-family: var(--font-family);
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 38px;
  padding-top: 19px;
  padding-left: 10px;
  padding-right: 10px;
}

#author {
  font-family: var(--font-family);
  font-weight: bold;
  margin-top: 0px;
  padding-bottom: 10px;
  
}




.quote-cont {
  position: relative;
  left: 470px;
  margin-bottom: 100px; 
}

ul {
  list-style: none
 }

