.landing-container {
  /* background-image: url(/public/images/cloudbg.jpeg); */
  height: 100vh;
}

.container-dt {
  background-image: transparent;
  font-size: x-large;
}

.cards {
  background-color: transparent;
}

.quote-box {
  background-color: transparent;
}

h4,h5 {
  font-weight: bold;
}

.homepage-card {
  background-color: transparent;
}

.landing-qb {
  background-color: transparent;
}
