.landing-container {
  background-color: purple;
}

.container-dt {
  background-color: aquamarine;
  font-size: large;
}

.cards {
  background-color: blueviolet;
}

.quote-box {
  background-color: rgb(0, 255, 38);
}

h4,h5 {
  font-weight: bold;
}

.homepage-card {
  background-color: rgb(255, 209, 5);
}

.landing-qb {
  background-color: rgb(225, 15, 233);
  text-decoration: underline;
}

/* .hero-image {
  background: url('/Assets/wellness.jpg') no-repeat center top;
  background-size: cover;
	} */